# Ignore imagebuilder directories, downloads, and checksums
openwrt-imagebuilder*
sha256sums*
*.img
*.img.gz

# Build directory - used with build container
build/

# Exernal storage image file used for emulation
extradrive.img
